@import "tailwindcss";

@theme {
  --color-accent: #aa3bff;
  --color-accent-bg: rgba(170, 59, 255, 0.1);
  --color-accent-border: rgba(170, 59, 255, 0.5);
  --color-bg: #ffffff;
  --color-surface: #f4f3ec;
  --color-border: #e5e4e7;
  --color-text: #6b6375;
  --color-heading: #08060d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #c084fc;
    --color-accent-bg: rgba(120, 120, 120, 0.15);
    --color-accent-border: rgba(192, 132, 252, 0.5);
    --color-bg: #16171d;
    --color-surface: #1f2028;
    --color-border: #2e303a;
    --color-text: #9ca3af;
    --color-heading: #f3f4f6;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #09090b;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.remote-cursor {
  border-left: 2px solid var(--color-accent);
  position: absolute;
  z-index: 10;
}